<span class="avatar" [class.avatar-sm]="size === 'sm'" [class.avatar-lg]="size === 'lg'" [title]="name || 'Unassigned'">
      <ng-container *ngIf="name; else unassigned">{{ initials }}</ng-container>
      <ng-template #unassigned>
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </ng-template>
    </span>